<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu d'exploration</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {{ css_debug | safe}}
</head>
<body>
<div id="coordinates" style="{{ style_coordinates | safe}} position: absolute; z-index: 1001; background: rgba(0, 0, 0, 0.7); color: white; padding: 5px; font-size: 12px; border-radius: 5px;">
    X: 0, Y: 0
</div>

<div id="game-container">

    <div id="room-container">
        <img id="room-image" src="" alt="Pièce actuelle">
        <div id="game-overlay" class="hidden"></div>
    </div>

    <div id="inventory">
        <h3>Inventaire</h3>
        <div id="inventory-list"></div>
    </div>

    <!-- Overlay énigme -->
    <div id="puzzle-overlay" class="hidden">
        <div id="puzzle-box">
            <h2>Énigme</h2>
            <p>Entrez la combinaison :</p>
            <input type="text" id="puzzle-answer" maxlength="10">
            <button onclick="submitPuzzle()">Valider</button>
            <button onclick="closePuzzle()">Fermer</button>
        </div>
    </div>
    <div id="message" class="msghidden">
        <div id="image_message"><img id="img_image_message"></img></div>
        <div id="contenu_message"></div>
        <div id="icone_message">X</div>
    </div>

</div>

<div id="image-container" class="hidden">
    <img id="image-to-display" src="" />
</div>

<div id="input-container" class="hidden">
    <img id="input-image-to-display" src=""/>
</div>

<script>
        const mediaUrl = "{{ media_url }}";
</script>
<script src="/static/js/game.js"></script>

</body>
</html>
